<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/edit.js"></script>
    
    <meta charset="UTF-8">
    <title>Diligências Tikal Tech - Teste</title>
</head>
<body ng-app="diligencias" ng-controller="orders">
    <header>
        <div class="menu-responsive" ng-class="{'active': is_active}" ng-click="activeButton()">
          <button type="button" class="open">
            <img src="img/menu_teste.svg" alt="">
          </button>
          <button type="button" class="close">
            <img src="img/close_teste.svg" alt="">
          </button>
        </div>   
        <h1 id="logo">
          <a href="/index.html">
            <img src="img/logo_teste.svg" alt="">
          </a>
        </h1><!--
        --><nav ng-class="{'active': is_active}">
            <ul>
                <label>Ordenar Por:</label>
                <li ng-class="{'active': order_by == 'diligencia_type'}" ng-click="orderBy('diligencia_type')">Tipo</li>
                <li ng-class="{'active': order_by == 'value'}" ng-click="orderBy('value')">Valor</li>
            </ul>
        </nav>
    </header>
    <section id="cards-board">
        <div class="site-container">
            <div class="card" ng-repeat="diligencia in diligencias | orderBy: order_by">
                <span class="city">{{diligencia.city}}</span>
                <span class="type-application">{{diligencia.diligencia_type}}</span>
                <span class="value">{{diligencia.value}}</span>
            </div>
        </div>
    </section>
</body>
</html>